.menu{
    background-color: #f8f8f8c5; 
    width: 100%;
    height: 50px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    & .items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(139, 134, 134, 0);
    color: black;
    cursor: pointer;
    padding: 15px;
    height: 50%;
    margin: 10px;


    &:hover{
    position: relative;
    top: -5px;
    left: 15px;
    transition: text-shadow 1s;
    text-shadow: 1px 1px 2px rgba(46, 45, 45, 0.431);
    border-bottom: 4px solid #527bff;
    border-radius: 2px;

}
}
}

a{
    text-decoration: none;
    color: #000000;
}


#Btn-menu{
    cursor: pointer;
    background-color: #e3e3e3c2;
    color: #ffffffd7;
    font-size: 1.5em;

}
