.sobre{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
    background-image: linear-gradient(to top, #7d7dc9, #7c7dc9, rgb(107, 107, 182), transparent);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 2px 2px 10px black;
    width: 100%;
    height: 400px;
}

.sobre img{
    border: 2px solid rgb(70, 70, 136);
    margin: 20px;
    box-shadow: 2px 2px 10px 2px black;
    width: 200px;

    background-color: #9a9a9a00;
}