@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Russo+One&family=Share+Tech+Mono&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --font1: "Atkinson Hyperlegible Mono";
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.topo{
    display: flex;
    flex-direction: column;
}

.menu{
    /*
    background-color: rgba(79, 99, 165, 0.568);*/
    background-color:  #3569f8da;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.items{
    background-image: linear-gradient(to left, #6b93ffc1, transparent);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(76, 91, 187, 0.747);
}

.items:hover{
    transition: 1s;
    text-shadow: 2px 2px 2px black;
    color: white;
    border: 1px solid rgb(28, 28, 78);
    background-color: rgba(119, 147, 206, 0);
    /* background-color: rgb(97, 118, 189); */
}

.ancoras{
    display: flex;
    gap: 10px;
    background-image: linear-gradient(to right, #0062ff, transparent);
   /* background-color: rgba(119, 147, 206, 0.87);*/
}

.redes{
    border: 1px solid rgb(51, 74, 138);
    color: white;
    border-radius: 40px;
    font-size: 1.3em;
    padding: 10px;
}

.redes:hover{
    transition: color 1s, text-shadow .5s, box-shadow 1s;
    color: black;
    text-shadow: 2px 2px 2px white;
    box-shadow: 0px 0px 20px 0px rgba(85, 84, 84, 0.788);
}

.principal{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    background-color: #dededeb3;

   /* background-image: linear-gradient(to top, #5867a8, #6876b4b7, #7785c2d3);*/
}

.principal img{
    width: 500px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 10px #282d46a9;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.secundario{
    display: flex;
}

.description{
    font-family: var(--font1);
    display: flex;
    background-color: #ffffff;
   /* background-color: #9ca6d6;*/
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;
    width: 500px;
    font-size: 1.5em;
}

.sobre{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
    background-image: linear-gradient(to top, #7d7dc9, #7c7dc9, rgb(107, 107, 182), transparent);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 2px 2px 10px black;
    width: 100%;
    height: 400px;
}

.sobre img{
    border: 2px solid rgb(70, 70, 136);
    margin: 20px;
    box-shadow: 2px 2px 10px 2px black;
    width: 200px;

    background-color: #9a9a9aeb;
}