@charset "UTF-8";

@import url('../estilos/cores.css');

@import url('../estilos/menu.css');

@import url('../estilos/principal.css');

@import url('../estilos/projetos.css');

@import url('../estilos/redes.css');

@import url('../estilos/skills.css');

@import url('../estilos/sobre.css');

@import url('../estilos/fontes.css');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    height: 100vh;
    background-image: url('../imagens/Mobile.png');
    background-size: cover;
    background-attachment: fixed;
}

.topo{
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    }
